@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oranienbaum&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #396E94;
    height: 80px;
    color: #E7C24F;
    padding: 0 20px;

}

#topnav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 40px;

}

.hero {
    position: relative;
}

#welcome {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .3);
    border-radius: 25px;
}

#welcome h2 {
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

#top {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 38px;
    text-wrap: balance;
    font-size: small;
    text-align: center;

}

#logo img {
    width: 130px;
    height: 90px;
    margin: 0 12px;
}

.studentphoto img {
    width: 1fr;
    height: 500px;
}

#logo {
    align-self: flex-start;
    z-index: 10;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    color: #E7C24F;
}

h1,
h2 {
    font-family: 'Lato';
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

#aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    margin-left: 10px;
    margin-top: 80px;
    column-gap: 80px;

}

#aboutme img {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 250px;
    border-radius: 10px;
}

#aboutme p {
    line-height: 1.5;

}

#aboutmetext {
    background-color: #A42212;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px;
}

#collegetips {
    text-align: center;
}

#collegetips h2 {
    font-size: 38px;
}

#tipimgs {
    display: flex;
    justify-content: center;
    margin: 0 25% 0 25%;
    column-gap: 60px;
}

#tipimgs img {
    width: 300px;
    margin-bottom: 60px;
    border-radius: 10px;
}

footer {
    justify-content: center;
    text-align: left;
}

figcaption {
    font-size: x-large;
}

#stips img {
    width: 50vw;

}

a {
    text-decoration: none;
    color: #E7C24F;
}

a:hover {
    color: #ac9243;
}

.card {
    background-color: #A42212;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px;
    width: 1fr;
    height: 80%;
}

#tips {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    background-color: #396E94;
    padding-top: 40px;
    padding-bottom: 40px;


}

.stat {
    border-radius: 15px;
    gap: 20px;
    flex: 1;
    background-color: #1B1B1B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 0;
}

details {
    border-radius: 15px;
    gap: 20px;
    flex: 1;
    background-color: #396E94;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border-color: #E7C24F;
    border-left: 2px solid #E7C24F;

}

#qapage {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    column-gap: 20px;
    place-items: center;
}

#checklist {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    column-gap: 20px;
    place-items: center;
    padding: 20px;
    background-color: #396E94;
}

.footers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    justify-content: center;
    background-color: #1B1B1B;
    padding-top: 20px;
    text-align: left;
    line-height: 1.5;
}

#footerlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 769px) and (max-width: 1024px) {
    #aboutme {
        column-gap: 40px;
        padding: 0 20px;
    }

    .studentphoto img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    #tipimgs figure {
        margin: 0;
    }

    #tipimgs img {
        width: 100%;
        height: auto;
        height: auto;

    }

    #tips,
    #qapage,
    #checklist {
        gap: 20px;
        padding: 0 20px;
    }
}

@media (max-width:768px) {

    #top {
        font-size: small;
        padding: 10%;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 15px;

    }

    #topnav {
        flex-direction: column;
        font-size: medium;
        gap: 10px;
    }

    #logo {
        align-self: center;
    }

    #welcome {
        width: 90%;
        padding: 10px;
    }

    #welcome h2 {
        font-size: 1rem;
    }

    #aboutme {
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 0 20px;
    }

    #aboutme img {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    #tipimgs {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        margin: 0 !important;
    }

    #tipimgs figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #tipsimg img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;


    }

    #stats {
        flex-direction: column;
    }

    #tips,
    #qapage,
    #checklist {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    details {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    #footerlinks {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .footers {
        text-align: center;
        align-items: center;
    }
}